table.booktabs-style, tr, td {
    border: none;
}
.booktabs-style th {
    border-left: none;
    border-right: none;
}
.booktabs-style tr:nth-child(2n) {
    background-color: transparent;
}

.booktabs-style tr.top_border {
    border-top: 1px solid var(--border-color)
}
table.booktabs-style {
    border-bottom: 1px solid var(--border-color);
}

.booktabs-style th, td {
    vertical-align: top;
    text-align: left;
}

.info-text {
    opacity: 0.75;
}
