@font-face {
  font-family: 'icons';
  src:
    url('fonts/icons.ttf?lezvfl') format('truetype'),
    url('fonts/icons.woff?lezvfl') format('woff'),
    url('fonts/icons.svg?lezvfl#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi-github:before {
  content: "\f09b";
}
.fi-stack-overflow:before {
  content: "\f16c";
}
.fi-instagram:before {
  content: "\f16d";
}
.fi-behance2:before {
  content: "\eaa9";
}
